.container {

	width: 100%
	margin: 0 auto;
	text-align: center;
}

.modal {
	display: none;
	position: center fixed;
	left: 0;
	top: 0;
	width: 400px;
	height: 400px;
	overflow: auto;
	background-color: white;
	z-index:1000; 
}

.modal-content {
	background-color: lightblue;
	margin: 0 auto;
	padding: 10px;
	border: 3px solid black;
	width: 700px;
	box-shadow: 10px 10px 5px #888;
}

.modal-header {
	margin: 0 auto;
	padding: 10px;
	border:3px solid black;


}

.fixed-nav-bar {
	  position: fixed;
	  bottom: 0;
	  left: 0;
	  z-index: 9999;
	  width: 100%;
	  height: 35px;
	  background-color: #c2c4c2;
	  border-radius: 15px;
	  display: inline;
	  text-align: center;
	  border: 2px solid black;
}

.fixed-nav-bar li {

	text-align: center;
	width: 100%;
	display: inline;
}


.right {
	float: right;
	margin: 20px 70px 0px 0px;
	text-align: center;
	width: 40%;
	display: inline-block;
	font-size: 20px;
}

.margin {

	margin: 0px 0px 0px 80px;
}

.scroll-box {
	height:200px;
	width:300px;border:3px solid #ccc;
	font:18px Georgia, Garamond, Serif;
	overflow:auto;
}

.pizza-one {
	height: 400px;
	width: 400px;
	margin: 20px 0px 0px 100px;
}

#spacing {

	margin:0px 0px 10px 160px;
}

#spacing-two {

	margin:0px 0px 10px 60px;
}

#spacing-three {

	margin:15px 0px 10px 100px;
}

#spacing-four {

	margin: 10px 0px 15px 120px;
}

#spacing-five {
	margin: 10px 0px 15px 180px;
}

#spacing-six {
	margin: 10px 0px 15px 120px;
}

#spacing-seven {
	margin: 10px 0px 15px 160px;
}

#spacing-eight {
	margin: 10px 0px 15px 120px;
}

#adjust {
	margin:0px 0px 0px 30px;
}

#stretch {
	height: 333px;
	width: 500px;
}

#stretch-two {
	height: 333px;
	width: 500px;
}

#stretch-three {
	height: 333px;
	width: 500px;
}

#stretch-four {
	height: 333px;
	width: 500px;
}

#stretch-five {
	height: 333px;
	width: 500px;
}

#stretch-six {
	height: 333px;
	width: 500px;
}

#stretch-seven {
	height: 333px;
	width: 500px;
}

#bottom-margin {
	margin: 0px 0px 40px 95px;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.leftdiv {
	width: 45%;
	display: block;
	float: left;
}

.rightdiv{
	width: 45%;
	display: block;
	float: left;
}


h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

body {

	background-color: #c2c4c2; 
	background-image:;
	padding: 30px;
	padding-bottom: 100px;
}


ul {
	text-decoration: none;
	display: inline;
}

li {

	font-size: 20px;
	display: inline;
	margin: 45px;
}

h2 {

	text-decoration: underline;
}














